--
-- PostgreSQL database dump
--

\restrict 9tAD2dnD6i1OPWQ16PvrF8lTEgzKkF1ofQDYhtlDLlVEgYMOqaHdcVWjeLNlYXw

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: catatan; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.catatan (
    id integer NOT NULL,
    dokumen_id integer NOT NULL,
    dosen_id integer NOT NULL,
    isi_catatan text NOT NULL,
    halaman integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.catatan OWNER TO admin;

--
-- Name: catatan_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.catatan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.catatan_id_seq OWNER TO admin;

--
-- Name: catatan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.catatan_id_seq OWNED BY public.catatan.id;


--
-- Name: document_similarity; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.document_similarity (
    id integer NOT NULL,
    dokumen_1_id integer NOT NULL,
    dokumen_2_id integer NOT NULL,
    similarity_score double precision NOT NULL,
    calculated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.document_similarity OWNER TO admin;

--
-- Name: document_similarity_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.document_similarity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.document_similarity_id_seq OWNER TO admin;

--
-- Name: document_similarity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.document_similarity_id_seq OWNED BY public.document_similarity.id;


--
-- Name: dokumen; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dokumen (
    id integer NOT NULL,
    mahasiswa_id integer NOT NULL,
    judul character varying(500),
    nama_file character varying(255) NOT NULL,
    path_file character varying(500) NOT NULL,
    format character varying(10),
    ukuran_kb integer,
    tanggal_unggah timestamp with time zone DEFAULT now(),
    ringkasan text,
    status_analisis character varying(50)
);


ALTER TABLE public.dokumen OWNER TO admin;

--
-- Name: dokumen_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.dokumen_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dokumen_id_seq OWNER TO admin;

--
-- Name: dokumen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.dokumen_id_seq OWNED BY public.dokumen.id;


--
-- Name: dokumen_kata; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dokumen_kata (
    dokumen_id integer NOT NULL,
    kata_kunci_id integer NOT NULL
);


ALTER TABLE public.dokumen_kata OWNER TO admin;

--
-- Name: dokumen_tag; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dokumen_tag (
    dokumen_id integer NOT NULL,
    tag_id integer NOT NULL
);


ALTER TABLE public.dokumen_tag OWNER TO admin;

--
-- Name: dosen; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dosen (
    id integer NOT NULL,
    user_id integer NOT NULL,
    nip character varying(50) NOT NULL,
    jabatan character varying(255),
    bidang_keahlian character varying(255)
);


ALTER TABLE public.dosen OWNER TO admin;

--
-- Name: dosen_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.dosen_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dosen_id_seq OWNER TO admin;

--
-- Name: dosen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.dosen_id_seq OWNED BY public.dosen.id;


--
-- Name: kata_kunci; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.kata_kunci (
    id integer NOT NULL,
    kata character varying(255) NOT NULL,
    frekuensi integer
);


ALTER TABLE public.kata_kunci OWNER TO admin;

--
-- Name: kata_kunci_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.kata_kunci_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.kata_kunci_id_seq OWNER TO admin;

--
-- Name: kata_kunci_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.kata_kunci_id_seq OWNED BY public.kata_kunci.id;


--
-- Name: mahasiswa; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.mahasiswa (
    id integer NOT NULL,
    user_id integer NOT NULL,
    nim character varying(50) NOT NULL,
    program_studi character varying(255),
    angkatan integer,
    dosen_pembimbing_id integer
);


ALTER TABLE public.mahasiswa OWNER TO admin;

--
-- Name: mahasiswa_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.mahasiswa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.mahasiswa_id_seq OWNER TO admin;

--
-- Name: mahasiswa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.mahasiswa_id_seq OWNED BY public.mahasiswa.id;


--
-- Name: referensi; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.referensi (
    id integer NOT NULL,
    dokumen_id integer NOT NULL,
    teks_referensi text NOT NULL,
    penulis character varying(500),
    tahun integer,
    judul_publikasi character varying(500),
    nomor character varying(50),
    is_valid boolean,
    catatan_validasi text
);


ALTER TABLE public.referensi OWNER TO admin;

--
-- Name: referensi_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.referensi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.referensi_id_seq OWNER TO admin;

--
-- Name: referensi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.referensi_id_seq OWNED BY public.referensi.id;


--
-- Name: tag; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tag (
    id integer NOT NULL,
    nama character varying(100) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.tag OWNER TO admin;

--
-- Name: tag_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.tag_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tag_id_seq OWNER TO admin;

--
-- Name: tag_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.tag_id_seq OWNED BY public.tag.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    nama character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: catatan id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.catatan ALTER COLUMN id SET DEFAULT nextval('public.catatan_id_seq'::regclass);


--
-- Name: document_similarity id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.document_similarity ALTER COLUMN id SET DEFAULT nextval('public.document_similarity_id_seq'::regclass);


--
-- Name: dokumen id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dokumen ALTER COLUMN id SET DEFAULT nextval('public.dokumen_id_seq'::regclass);


--
-- Name: dosen id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dosen ALTER COLUMN id SET DEFAULT nextval('public.dosen_id_seq'::regclass);


--
-- Name: kata_kunci id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.kata_kunci ALTER COLUMN id SET DEFAULT nextval('public.kata_kunci_id_seq'::regclass);


--
-- Name: mahasiswa id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.mahasiswa ALTER COLUMN id SET DEFAULT nextval('public.mahasiswa_id_seq'::regclass);


--
-- Name: referensi id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.referensi ALTER COLUMN id SET DEFAULT nextval('public.referensi_id_seq'::regclass);


--
-- Name: tag id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tag ALTER COLUMN id SET DEFAULT nextval('public.tag_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: catatan; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.catatan (id, dokumen_id, dosen_id, isi_catatan, halaman, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_similarity; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: dokumen; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: dokumen_kata; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.dokumen_kata (dokumen_id, kata_kunci_id) FROM stdin;
1	1
1	2
1	3
1	4
1	5
1	6
1	7
1	8
1	9
1	10
8	71
8	72
8	73
8	74
8	75
8	76
8	77
8	78
8	79
8	80
9	81
9	82
9	83
9	84
9	85
9	86
9	87
9	88
9	89
9	90
2	11
2	12
2	13
2	14
2	15
2	16
2	17
2	18
2	19
2	20
10	91
10	92
10	93
10	94
10	95
10	96
10	97
10	98
10	99
10	100
5	41
5	42
5	43
5	44
5	45
5	46
5	47
5	48
5	49
5	50
6	51
6	52
6	53
6	54
6	55
6	56
6	57
6	58
6	59
6	60
\.


--
-- Data for Name: dokumen_tag; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.dokumen_tag (dokumen_id, tag_id) FROM stdin;
\.


--
-- Data for Name: dosen; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.dosen (id, user_id, nip, jabatan, bidang_keahlian) FROM stdin;
2	3	198501012023	Lecturer	Computer Science
3	9	1985212120	Dosen	Sistem Informasi
\.


--
-- Data for Name: kata_kunci; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: mahasiswa; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.mahasiswa (id, user_id, nim, program_studi, angkatan, dosen_pembimbing_id) FROM stdin;
2	4	12022212121	Sistem Informasi	2024	\N
3	5	1202223217	Sistem Informasi	2022	\N
4	6	1202220223	Sistem Informasi	2022	\N
5	7	1202223105	Sistem Informasi	2022	\N
6	8	1202223200	Sistem Informasi	2022	\N
1	1	1202223212	Sistem Informasi	2025	3
\.


--
-- Data for Name: referensi; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: tag; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.tag (id, nama, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: catatan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.catatan_id_seq', 1, true);


--
-- Name: document_similarity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.document_similarity_id_seq', 21, true);


--
-- Name: dokumen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.dokumen_id_seq', 10, true);


--
-- Name: dosen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.dosen_id_seq', 3, true);


--
-- Name: kata_kunci_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.kata_kunci_id_seq', 100, true);


--
-- Name: mahasiswa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.mahasiswa_id_seq', 6, true);


--
-- Name: referensi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.referensi_id_seq', 110, true);


--
-- Name: tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.tag_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: catatan catatan_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.catatan
    ADD CONSTRAINT catatan_pkey PRIMARY KEY (id);


--
-- Name: document_similarity document_similarity_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.document_similarity
    ADD CONSTRAINT document_similarity_pkey PRIMARY KEY (id);


--
-- Name: dokumen_kata dokumen_kata_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dokumen_kata
    ADD CONSTRAINT dokumen_kata_pkey PRIMARY KEY (dokumen_id, kata_kunci_id);


--
-- Name: dokumen dokumen_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT dokumen_pkey PRIMARY KEY (id);


--
-- Name: dokumen_tag dokumen_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dokumen_tag
    ADD CONSTRAINT dokumen_tag_pkey PRIMARY KEY (dokumen_id, tag_id);


--
-- Name: dosen dosen_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_pkey PRIMARY KEY (id);


--
-- Name: dosen dosen_user_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_user_id_key UNIQUE (user_id);


--
-- Name: kata_kunci kata_kunci_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.kata_kunci
    ADD CONSTRAINT kata_kunci_pkey PRIMARY KEY (id);


--
-- Name: mahasiswa mahasiswa_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_pkey PRIMARY KEY (id);


--
-- Name: mahasiswa mahasiswa_user_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_user_id_key UNIQUE (user_id);


--
-- Name: referensi referensi_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.referensi
    ADD CONSTRAINT referensi_pkey PRIMARY KEY (id);


--
-- Name: tag tag_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_catatan_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_catatan_id ON public.catatan USING btree (id);


--
-- Name: ix_document_similarity_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_document_similarity_id ON public.document_similarity USING btree (id);


--
-- Name: ix_dokumen_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_dokumen_id ON public.dokumen USING btree (id);


--
-- Name: ix_dosen_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_dosen_id ON public.dosen USING btree (id);


--
-- Name: ix_dosen_nip; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_dosen_nip ON public.dosen USING btree (nip);


--
-- Name: ix_kata_kunci_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_kata_kunci_id ON public.kata_kunci USING btree (id);


--
-- Name: ix_kata_kunci_kata; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_kata_kunci_kata ON public.kata_kunci USING btree (kata);


--
-- Name: ix_mahasiswa_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_mahasiswa_id ON public.mahasiswa USING btree (id);


--
-- Name: ix_mahasiswa_nim; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_mahasiswa_nim ON public.mahasiswa USING btree (nim);


--
-- Name: ix_referensi_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_referensi_id ON public.referensi USING btree (id);


--
-- Name: ix_tag_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_tag_id ON public.tag USING btree (id);


--
-- Name: ix_tag_nama; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_tag_nama ON public.tag USING btree (nama);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: catatan catatan_dokumen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.catatan
    ADD CONSTRAINT catatan_dokumen_id_fkey FOREIGN KEY (dokumen_id) REFERENCES public.dokumen(id) ON DELETE CASCADE;


--
-- Name: catatan catatan_dosen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.catatan
    ADD CONSTRAINT catatan_dosen_id_fkey FOREIGN KEY (dosen_id) REFERENCES public.dosen(id) ON DELETE CASCADE;


--
-- Name: document_similarity document_similarity_dokumen_1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.document_similarity
    ADD CONSTRAINT document_similarity_dokumen_1_id_fkey FOREIGN KEY (dokumen_1_id) REFERENCES public.dokumen(id) ON DELETE CASCADE;


--
-- Name: document_similarity document_similarity_dokumen_2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.document_similarity
    ADD CONSTRAINT document_similarity_dokumen_2_id_fkey FOREIGN KEY (dokumen_2_id) REFERENCES public.dokumen(id) ON DELETE CASCADE;


--
-- Name: dokumen_kata dokumen_kata_dokumen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dokumen_kata
    ADD CONSTRAINT dokumen_kata_dokumen_id_fkey FOREIGN KEY (dokumen_id) REFERENCES public.dokumen(id) ON DELETE CASCADE;


--
-- Name: dokumen_kata dokumen_kata_kata_kunci_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dokumen_kata
    ADD CONSTRAINT dokumen_kata_kata_kunci_id_fkey FOREIGN KEY (kata_kunci_id) REFERENCES public.kata_kunci(id) ON DELETE CASCADE;


--
-- Name: dokumen dokumen_mahasiswa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT dokumen_mahasiswa_id_fkey FOREIGN KEY (mahasiswa_id) REFERENCES public.mahasiswa(id) ON DELETE CASCADE;


--
-- Name: dokumen_tag dokumen_tag_dokumen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dokumen_tag
    ADD CONSTRAINT dokumen_tag_dokumen_id_fkey FOREIGN KEY (dokumen_id) REFERENCES public.dokumen(id) ON DELETE CASCADE;


--
-- Name: dokumen_tag dokumen_tag_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dokumen_tag
    ADD CONSTRAINT dokumen_tag_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.tag(id) ON DELETE CASCADE;


--
-- Name: dosen dosen_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: mahasiswa mahasiswa_dosen_pembimbing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_dosen_pembimbing_id_fkey FOREIGN KEY (dosen_pembimbing_id) REFERENCES public.dosen(id) ON DELETE SET NULL;


--
-- Name: mahasiswa mahasiswa_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: referensi referensi_dokumen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.referensi
    ADD CONSTRAINT referensi_dokumen_id_fkey FOREIGN KEY (dokumen_id) REFERENCES public.dokumen(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 9tAD2dnD6i1OPWQ16PvrF8lTEgzKkF1ofQDYhtlDLlVEgYMOqaHdcVWjeLNlYXw

